@if (modalData$ | async; as modal) {
  <div class="modal-backdrop" (click)="modal.dismiss?.()"></div>

  <!-- Aplicamos una clase dinámica basada en el estilo -->
  <div class="modal-container" [ngClass]="'modal-' + modal.style" role="dialog">

    <div class="modal-header">
      <!-- Contenedor para el icono, que cambia según el estilo -->
      <div class="icon-container">
        @switch (modal.style) {
          @case ('info') {
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM8 4a.905.905 0 0 1 .9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
          }
          @case ('warning') {
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
          }
          @case ('error') {
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>
          }
        }
      </div>
      <h5 class="modal-title">{{ modal.title }}</h5>
      <button type="button" class="close-button" (click)="modal.dismiss?.()">&times;</button>
    </div>

    <div class="modal-body">
      <!-- Usamos [innerHTML] para poder pasar etiquetas como <br> en el mensaje -->
      <p [innerHTML]="modal.text"></p>
    </div>

    <div class="modal-footer">
      <!-- El botón de rechazar/cancelar solo aparece si el tipo es 'confirm' -->
      @if (modal.type === 'confirm') {
        <button type="button" class="btn btn-secondary" (click)="modal.reject?.()">{{ modal.rejectText }}</button>
      }
        <button type="button" class="btn btn-primary" (click)="modal.confirm?.()">
            @if (isObservable(modal.confirmText)) {
            <!-- Si es un observable, usa el pipe async para mostrar el valor actualizado -->
            {{ modal.confirmText | async }}
            } @else {
            <!-- Si es un string normal, solo muéstralo -->
            {{ modal.confirmText }}
            }
        </button>
    </div>
  </div>
}