.page-body-container {
  display: flex;
  align-items: stretch;
   box-sizing: border-box;
   margin-top: 0px; 
}


.main-content-area {
  flex-grow: 1;  /* Le dice al contenido que ocupe todo el espacio sobrante */
  min-width: 0;  
  transition: all 0.3s ease-in-out;
}

 
main.container-fluid {
padding: 20px 50px; /* Un poco de espaciado interno  */
}

@media (max-width: 992px) {
  app-left-menu {
    display: none; /*  ocultamos el menú */
  }
}

.modal-backdrop {
  z-index: 1040 !important;
}

/*
  Aseguramos que el modal esté por encima de TODO, incluido su propio fondo.
*/
.modal {
  z-index: 1050 !important;
}
